/* Navbar.css */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Add a z-index to ensure it's above other content */
  }
  
  .navbar {
    display: flex;
    justify-content: right;
    align-items: right;
    background: linear-gradient(to right, #8ae5d0, #8f94fb);
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar a {
    text-decoration: none;
    /*color: rgb(204, 214, 246);*/
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #64FFDA;
  }
  
  .navbar a.active {
    font-weight: bold;
  }
  