/* Projects.css */

body, html {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.projects-section {
  max-width: 800px;
  margin: 120px auto 0;
  padding: 0 2em;
  color: #333;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}


.projects-section-heading {
  position: relative;
  margin: 1em 0 0; 
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #195cc8;
  font-family: 'Fraunces', serif;
}

.projects-section-heading::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 150px;
  height: 3px;
  background-color: #111;
  transform: translateX(-50%);
  margin-top: 10px;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 2px solid #195cc8;
  border-radius: 8px;
  overflow: hidden;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project-details {
  padding: 20px;
}

.project h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #195cc8;
  font-family: 'Fraunces', serif;
}

.project p {
  font-size: 14px;
  margin-bottom: 15px;
}

.project a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #195cc8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #0e3a8e;
}

/* For smaller screens */
@media only screen and (max-width: 768px) {
  .project {
    flex: 0 0 100%;
  }

  .project img {
    max-width: 100%;
  }
}
